@keyframes nextPage
{
	0% 
	{
		transform: translate3d(0, -50%, 0) scale3d(1, 1, 1);
	}
    10% 
	{
		transform: translate3d(0, -50%, 0) scale3d(1, 1, 1);
	}
    70%
    {
      transform: translate3d(0, 0, 0) scale3d(0.8, 1.2, 1);
    }
    95%
    {
        transform: translate3d(0, 0, 0) scale3d(1.3, 0.7, 1);
    }
    100%
    {
        transform: translate3d(0, 0, 0) scale3d(1.3, 0.7, 1);
    }
}

#presentation-container
{
    padding-top: 0;
}

.presentation-container
{
    width: 100%;
    min-height: calc(100vh - 210px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/photo_nouilles.jpg');
    background-size: cover;
    .presentation-intro
    {
        padding: 1.5rem 1.5rem;
        width: 100%;
        background-color: rgba(39, 39, 39, 0.5);
    }
    .mainTitle, .mainTitle-mate
    {
        span
        {
            display: block;
        }
    }
    .mainTitle
    {
        padding-bottom: 1rem;
        font-size: 2rem;
        span
        {
            margin-top: 0.5rem;
            font-size: 1rem;
        }
    }
    .mainTitle-mate
    {
        border-top: 2px solid $color-main02;
        padding-top: 1rem;
    }
    a
    {
        color: $color-main02;
    }
    .btn-arrow
    {
        transform-origin: bottom;
		transform: translate3d(0, -50%, 0) scale3d(1, 1, 1);
        animation: nextPage 0.5s linear infinite alternate;
        z-index: 1;
        .image
        {
            width: 48px;
            height: 48px;
        }
    }
}

.address-container
{
    .address
    {
        margin-bottom: 1.5rem;
        .part
        {
            display: block;
        }
    }
    .gg-map
    {
        max-width: 750px;
        width: 100%;
        height: 550px;
        iframe
        {
            border: 1px solid $color-main01;
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (max-width: 610px)
{
	#main
	{
        .presentation-container
        {
            .btn-arrow
            {
                margin-bottom: 34px;
            }
        }
    }
}
@media screen and (max-width: 550px)
{
	#main
	{
        .presentation-container
        {
            min-height: calc(100vh - 162px);
        }
    }
}