@keyframes display
{
	from 
	{
		opacity: 0;
	}
  	to
  	{
  		opacity: 1;
  	}
}
@keyframes nextPage
{
	from 
	{
		transform: translate(-50%, -100%);
	}
  	to
  	{
		transform: translate(-50%, 0);
  	}
}