footer
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    color: $color-main02;
    background-color: $color-main03;
    .copyright
    {
        padding-left: 184px;
        text-align: center;
        font-size: 0.9rem;
    }
    .downMenu-container
    {
        z-index: 1;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        position: fixed;
        bottom: 0;
        left: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        pointer-events: none;
        transform: translate3d(-50%, 0, 0);
    }
    .border
    {
        border: 1px solid $color-main02;
        border-radius: 4px;
    }
    .phone, .menu, .btn-facebook, .btn-arrow
    {
        pointer-events: initial;
    }
    .phone, .menu
    {
        padding: 0 0.3rem;
        color: $color-main02;
        text-decoration: none;
    }
    .phone
    {
        margin-right: auto;
        background-color: $color-main01;
    }
    .menu
    {
        margin-right: 0.5rem;
        background-color: $color-main03;
    }
    .btn-facebook
    {
        margin-left: auto;
        .image
        {
            width: 32px;
            height: 32px;
            background-image: url(../images/logo_facebook.png);
        }
    }
    .btn-arrow
    {
        margin-left: 0.5rem;
        transform: rotate3d(1, 0, 0, 180deg);
    }
    .btn-arrow.disable
    {
        display: none;
        pointer-events: none;
    }
    .image-arrow
    {
        width: 28px;
        height: 28px;
    }
}
@media screen and (max-width: 760px)
{
    footer
    {
        .copyright
        {
            margin-bottom: 2rem;
            padding-left: 0;
        }
    }
}
@media screen and (max-width: 550px)
{
    footer
    {
        .copyright
        {
            font-size: 0.8rem;
        }
        .phone, .menu
        {
            font-size: 0.9rem;
        }
    }
}
@media screen and (max-width: 380px)
{
    footer
    {
        .copyright
        {
            font-size: 0.7rem;
        }
    }
}