footer
{
	width: 100%;
	background-color: $bg_main-color_dark;
}
.footerContent
{
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	img
	{
		transition: transform 0.1s;
		transform: scale(0.8);
		&:hover
		{
			transform: scale(1);
		}
	}
}