footer
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: $bg_main-color_dark;
}
.footer-content
{
	padding: 0.2rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.downMenu-container, .contact-container, .backHome-container
{
	flex: 1;
}
.downMenu-container
{
	text-align: left;
}
.contact-container
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.backHome-container
{
	text-align: right;
	a
	{
		display: inline-block;
	}
	img
	{
		padding: 0.3rem;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		display: block;
		background-color: $nextPageArrow-bgColor;
		transition: transform 0.1s;
		transform: rotate(-180deg) scale(0.8);
		&:hover
		{
			transform: rotate(-180deg) scale(1);
		}
	}
}
.facebook
{
	margin: 0 0.5rem;
	display: block;
	transition: transform 0.1s;
	transform: scale(0.8);
	&:hover
	{
		transform: scale(1);
	}
}