// header
header
{
	width: 100%;
	background-color: $header_bgColor;
	background-image: url("../img/toit.png");
}

.header-title
{
	margin: $general-padding;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	img
	{
		max-width: 128px;
		width: 100%;
	}
	h1
	{
		margin-left: 3rem;
		flex: 1;
		display: inline-block;
		font-size: 2.5rem;
		line-height: 4rem;
		font-weight: 700;
	}
	.chinese-fontFam
	{
		white-space: nowrap;
	}
	.header-title_subtitle
	{
		display: block;
		font-weight: 500;
		font-size: 1.5rem;
	}
}

// main menu
nav
{
	padding: 0 $general-padding;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: $nav_bgColor;
	li
	{
		a
		{
			display: inline-block;
			padding: 0.2rem 1rem;
			color: $nav_color;
			letter-spacing: 0.2rem;
			text-transform: uppercase;
		}
		&:hover
		{
			background-color: $nav_color;
			a
			{		
				color: $nav_bgColor;
			}
		}
	}
	.search-container
	{
		&:hover
		{
			background-color: transparent;
		}
	}
}

.mainMenu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

// search
.search-container
{
	margin-left: auto;
	padding: 0 1rem 0;
	form
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	input
	{
		margin-right: 0.5rem;
		border: none;
		background-color: $nav_color;
	}
	button
	{
		padding: 0;
		width: 24px;
		height: 24px;
		background-color: transparent;
		transition: transform 0.1s;
		&:hover
		{
			transform: scale(1.2);
		}
	}
	img
	{
		width: 100%;
		height: 100%;
	}
}
