.main
{
	background-color: $bg_main-color_dark;
}
.cartes-container, .menus-container
{
	padding: 2rem;
	h2
	{
		text-align: center;
	}
	h2, p
	{
		color: white;
	}
}
.food-comments
{
	margin-bottom: 2rem;
	text-align: center;
	font-size: 1.2rem;
}
.food-row
{
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
}
.menus-container
{
	li
	{
		margin-bottom: 1rem;
		text-align: center;
	}
}