// Commons
.main
{
	width: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	h2
	{
		margin: 2rem auto;
		position: relative;
		display: inline-block;
		color: $section-titleColor;
		letter-spacing: 0.2rem;
		text-transform: uppercase;
		&::after, &::before
		{
			content: "";
			position: absolute;
			top: 50%;
			height: 2px;
			width: 64px;
			background-color: $header_bgColor;
		}
		&::after
		{
			left: calc(100% + 10px);
		}
		&::before
		{
			right: calc(100% + 10px);
		}
	}
	span, p, li
	{
		font-size: 1rem;
		color: $text_main-color_dark;
	}
	background-color: $bg_main-color_light;
}
.row
{
	margin: 0 auto;
	padding: 0.75rem 4rem;
	width: 100%;
	max-width: 720px;
	display: flex;
	justify-content: space-between;
}
// Home
.home
{
	width: 100%;
	animation: display 0.3s ease-in-out alternate;
}
.horaires-container, .acces
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.horaires-container
{
	padding: 1.5rem 1.5rem 2rem;
	min-height:  calc(100vh - #{$header-height_normal});
	box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.25);
	div
	{
		text-align: right;
		&:nth-child(2n)
		{
			background: linear-gradient(to right, transparent, $bg_main-color_middle 10%, $bg_main-color_middle 90%, transparent);
		}
	}
}
.acces
{
	padding: 0 1.5rem 1.5rem;
	min-height: calc(100vh - #{$footer-height_normal});
	.gg-map
	{
		border: 1px solid $nav_bgColor;
		width: 100%;
		max-width: 720px;
		min-height: 365px;
	}
}
// Cartes & Menus
.cartes-container, .menus-container
{
	padding: 2rem;
	text-align: center;
	animation: display 0.3s ease-in-out alternate;
	.row
	{
		&:nth-child(2n+1)
		{
			background: linear-gradient(to right, transparent, $bg_main-color_middle 10%, $bg_main-color_middle 90%, transparent);
		}
	}
}
.food-comments
{
	margin-bottom: 2rem;
	text-align: center;
	font-size: 1.2rem;
	text-transform: uppercase;
}
.menus-container
{
	.row
	{
		justify-content: center;
	}
}