@media screen and (max-width: 1000px)
{
	.home-text
	{
		p
		{
			font-size: 1.5rem;
		}
	}
}

@media screen and (max-width: 890px)
{
	.header-title
	{
		img
		{
			width: 96px;
			height: 96px;
		}
		h1
		{
			margin-left: 2rem;
			font-size: 2rem;
			line-height: 3rem;
		}
	}
	.home-content
	{
		height: calc(100vh - 180px - #{$footer-height_normal});
	}
	.home-text
	{
		p
		{
			font-size: 1.25rem;
		}
	}
}

@media screen and (max-width: 730px)
{
	.header-title
	{
		h1
		{
			font-size: 1.75rem;
		}
		.header-title_subtitle
		{
			font-size: 1.25rem;
		}
	}
	.home-text
	{
		p
		{
			padding: 1.5rem;
			font-size: 1.1rem;
		}
	}
}

@media screen and (max-width: 685px)
{
	.home-content
	{
		height: calc(100vh - 179px - #{$footer-height_normal});
	}
	.home-text
	{
		p
		{
			padding: 1rem;
		}
	}
}

@media screen and (max-width: 640px)
{
	.header-title
	{
		margin: 0.5rem;
		img
		{
			display: none;
		}
		h1
		{
			margin-left: 0;
			text-align: center;
			font-size: 1.5rem;
		}
	}
	nav
	{
		padding: 0 0.5rem;
	}
	.home-content
	{
		height: calc(100vh - 160px - #{$footer-height_normal});
	}
	.home-text
	{
		p
		{
			padding: 0.5rem;
			font-size: 1rem;
			line-height: 1.8rem;
		}
	}
	.horaires-container
	{
		padding: 4rem 1rem;
	}
	.footer-content
	{
		padding: 0.2rem 0.5rem;
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 640px) and (max-height: 340px) and (orientation: landscape)
{
	.home-nextPage
	{
		animation: none;
		display: none;
	}
}

@media screen and (max-width: 581px)
{ 
	.home-text
	{
		top: calc(50% - 56px);
	}
	.home-nextPage
	{
		left: unset;
		right: 0;
		bottom: 56px;
		transform: translate(-50%);
	}
}

@media screen and (max-width: 512px)
{
	.mainMenu
	{
		justify-content: space-around;
		& > li:nth-child(1)
		{
			order: 2;
		}
		& > li:nth-child(2)
		{
			order: 3;
		}
		& > li:nth-child(3)
		{
			order: 4;
		}
		li.search-container
		{
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
			order: 1;
			padding-bottom: 0;
			width: 100%;
		}
	}
	.main
	{
		h3
		{
			margin: 0 auto 0.5rem;
			&:before, &:after
			{
				display: none;
			}
		}
	}
	.home-content
	{
		height: calc(100vh - 202px - #{$footer-height_normal});
	}
	.titleImg-container
	{
		margin: 0 auto 1.5rem;
	}
	.horaires-container, .cartes-container, .menus-container
	{
		padding: 2rem 0;
	}
	.horaires-container
	{
		.row
		{
			&:nth-child(2n)
			{
				background: $row-color_light;
			}
		}
	}
	.address-container
	{
		padding: 2rem 0.5rem;
	}
	.cartes-container
	{
		.row
		{
			&:nth-of-type(2n)
			{
				background: $row-color_middle;
			}
		}
	}
	.menus-container
	{
		.row
		{
			&:nth-of-type(2n)
			{
				background: $row-color_light;
			}
		}
	}
	.row
	{
		padding: 0.75rem 2rem;
	}
}

@media screen and (max-width: 418px)
{
	.header-title
	{
		h1
		{
			line-height: 2rem;
		}
	}
	.row
	{
		padding: 0.75rem 1rem;
	}
	.downMenu-container, .contact-container
	{
		flex: 2;
	}
}