// general

$general-maxWidth: 1280px;
$general-padding: 1rem;
$general-fontSize: 18px;

$header-height_normal: 226px;
$footer-height_normal: 90px;

// color

$color_yellowLight: #d9d9c3;
$color_yellowMiddle: #cfcfb8;
$color_redHot: #6d141a;
$color_middleGrey: #272727;

$header_titleColor: $color_yellowLight;
$header_bgColor: $color_redHot;

$nav_color: $color_yellowLight;
$nav_bgColor: $color_middleGrey;

$section-titleColor: $color_redHot;

$text_main-color_light: $color_yellowLight;
$text_main-color_dark: $color_middleGrey;

$bg_main-color_light: $color_yellowLight;
$bg_main-color_middle: $color_yellowMiddle;
$bg_main-color_dark: $color_middleGrey;

// font-family

$title_main-fontFam: 'Poppins', sans-serif;
$text_main-fontFam: 'Oswald', sans-serif;
.chinese-fontFam
{
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 500;
}