// DIMENSIONS
$general-maxWidth: 1280px;
$header-height: 216px;
$footer-height: 42px;

// MARGINS/PADDINGS
$general-padding: 12px;

// COLORS

	// Yellow
	$yellow01: #cfcfb8; // darkest
	$yellow02: #d9d9c3; // lightest
	$yellow01-translucent: rgba(217, 217, 195, 0.9);
	$yellow02-translucent: rgba(207, 207, 187, 0.9);

	// Red
	$red: #6d141a;

	// Grey
	$grey: #272727;
	$grey-translucent: rgba(39, 39, 39, 0.3);

	// Distribution
	$color-main01: $red;
	$color-main02: $yellow02;
	$color-main03: $grey;

// FONTS
$general-fontFam: 'Oswald', sans-serif;
$general-fontSize: 18px;

$title-fontFam: 'Poppins', sans-serif;
$title-fontSize: 22px;

$chinese-fontFam: 'Noto Sans TC', sans-serif;
$chinese-fontWeight: 500;