.chinese-fontFam {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500; }

section > div {
  box-shadow: none; }

.subMenu-open {
  border-top: 1px solid #d9d9c3;
  max-height: 38px !important; }

.menuSelected {
  position: relative; }
  .menuSelected:before {
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 50%;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #d9d9c3;
    transform: translateY(-50%); }
  .menuSelected:hover:before {
    background-color: #272727; }

.mainMenu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1; }

.subMenu-container {
  max-height: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  overflow: hidden;
  transition: max-height 0.2s; }
  .subMenu-container li a {
    font-size: 0.7rem;
    letter-spacing: 0.1rem; }

.subMenu-content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.infos-page, .menus-container {
  background-image: url("../img/parchemin.jpg"); }

.infos-page .row:nth-of-type(2n+1), .menus-container .row:nth-of-type(2n) {
  background: linear-gradient(to right, transparent, #cfcfb8 10%, #cfcfb8 85%, transparent); }

.home-content {
  height: calc(100vh - 216px); }

.searchResult-page {
  background-image: url("../img/parchemin.jpg"); }
  .searchResult-page .horaires-container .row:nth-of-type(2n+1) {
    background: linear-gradient(to right, transparent, rgba(207, 207, 187, 0.9) 10%, rgba(207, 207, 187, 0.9) 85%, transparent); }

footer {
  position: static; }

.contact-container {
  justify-content: flex-end; }

.facebook {
  margin-right: 0; }

.bottomBar-container {
  position: fixed;
  bottom: 3px;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none; }

.bottomBar-updateBottom {
  bottom: 40px; }

.bottomBar-content {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px; }

.backTop {
  pointer-events: all; }

.backTop img {
  border: 2px solid #6d141a; }

.main .phone {
  padding: 0 0.2rem;
  border-radius: 4px;
  color: #d9d9c3;
  background-color: #6d141a; }

@media screen and (max-width: 890px) {
  nav li a {
    padding: 0.2rem 0.8rem; }

  .mainMenu .menuSelected:before {
    left: 2px; }

  .home-content {
    height: calc(100vh - 179px); } }
@media screen and (max-width: 800px) {
  .subMenu-content li a {
    letter-spacing: normal; } }
@media screen and (max-width: 685px) {
  .bottomBar-content {
    padding: 0 0.5rem; } }
@media screen and (max-width: 670px) {
  .subMenu-open {
    max-height: 500px !important; }

  .subMenu-content {
    flex-direction: column; }
    .subMenu-content .menuSelected:after {
      border-radius: 50%;
      position: absolute;
      right: 4px;
      top: 50%;
      content: "";
      width: 8px;
      height: 8px;
      background-color: #d9d9c3;
      transform: translateY(-50%); }
    .subMenu-content .menuSelected:hover:after {
      background-color: #272727; }

  .subMenu-content li {
    width: 100%; }
    .subMenu-content li:last-child {
      margin-bottom: 0.5rem; }

  .subMenu-content li a {
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    letter-spacing: 0.1rem;
    font-size: 0.9rem; } }
@media screen and (max-width: 640px) {
  .home-content {
    height: calc(100vh - 160px); } }
@media screen and (max-width: 512px) {
  .mainMenu .search-container {
    order: 1; }
  .mainMenu > li:nth-child(1) {
    order: 2; }
  .mainMenu > li:nth-child(2) {
    order: 3; }
  .mainMenu > li:nth-child(3) {
    order: 4; }

  .home-content {
    height: calc(100vh - 202px); }

  .infos-page .row:nth-of-type(2n+1), .menus-container .row:nth-of-type(2n) {
    background: #cfcfb8; } }

/*# sourceMappingURL=jsallow.css.map */
