.chinese-fontFam {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500; }

@keyframes display {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
html, body, header, nav, footer, section, div, span, h1, h2, h3, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, legend, label, input, button {
  margin: 0;
  box-sizing: border-box; }

html {
  min-width: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 1.4rem; }

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #d9d9c3; }

a {
  text-decoration: none; }

button {
  border: none; }
  button:hover {
    cursor: pointer; }

ul {
  padding-left: 0;
  list-style: none; }

p, li, a {
  color: #d9d9c3; }

header {
  position: relative;
  width: 100%;
  background-color: #6d141a;
  z-index: 1; }

.header-title {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }
  .header-title img {
    max-width: 128px;
    width: 100%; }
  .header-title h1 {
    margin-left: 3rem;
    flex: 1;
    display: inline-block;
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 700; }
  .header-title .header-title_subtitle {
    display: block;
    font-weight: 500;
    font-size: 1.5rem; }

nav {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #272727; }

.mainMenu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }
  .mainMenu > li {
    padding: 0.5rem 1.5rem;
    display: inline-block; }
    .mainMenu > li a {
      color: #d9d9c3;
      letter-spacing: 0.2rem;
      text-transform: uppercase; }

.menu-folder-container {
  position: relative; }
  .menu-folder-container:hover {
    cursor: pointer; }
    .menu-folder-container:hover .menu-folder {
      transform: translate(-50%) scaleY(1); }

.menu-folder {
  position: absolute;
  left: 50%;
  top: 100%;
  display: flex;
  flex-direction: column;
  transform-origin: top;
  transform: translate(-50%) scaleY(0);
  transition: transform 0.2s;
  z-index: -2; }
  .menu-folder li {
    text-align: center;
    white-space: nowrap;
    transition: transform 0.1s;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.75); }
    .menu-folder li:hover {
      transform: scale(1.1); }
    .menu-folder li a {
      padding: 0.5rem 1.5rem;
      width: 100%;
      display: block;
      background-color: #272727; }

.mainMenu .search-container {
  margin-left: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mainMenu .search-container input {
    margin-right: 0.5rem;
    border: none;
    background-color: #d9d9c3; }
  .mainMenu .search-container button {
    margin-right: 1.5rem;
    padding: 0;
    width: 32px;
    height: 32px;
    background-color: transparent;
    transition: transform 0.1s; }
    .mainMenu .search-container button:hover {
      transform: scale(1.2); }
  .mainMenu .search-container img {
    width: 100%;
    height: 100%; }

.main {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #d9d9c3; }
  .main h2 {
    margin: 2rem auto;
    position: relative;
    display: inline-block;
    color: #6d141a;
    letter-spacing: 0.2rem;
    text-transform: uppercase; }
    .main h2::after, .main h2::before {
      content: "";
      position: absolute;
      top: 50%;
      height: 2px;
      width: 64px;
      background-color: #6d141a; }
    .main h2::after {
      left: calc(100% + 10px); }
    .main h2::before {
      right: calc(100% + 10px); }
  .main span, .main p, .main li {
    font-size: 1rem;
    color: #272727; }

.row {
  margin: 0 auto;
  padding: 0.75rem 4rem;
  width: 100%;
  max-width: 720px;
  display: flex;
  justify-content: space-between; }

.home {
  width: 100%;
  animation: display 0.3s ease-in-out alternate; }

.horaires-container, .acces {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.horaires-container {
  padding: 1.5rem 1.5rem 2rem;
  min-height: calc(100vh - 226px);
  box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.25); }
  .horaires-container div {
    text-align: right; }
    .horaires-container div:nth-child(2n) {
      background: linear-gradient(to right, transparent, #cfcfb8 10%, #cfcfb8 90%, transparent); }

.acces {
  padding: 0 1.5rem 1.5rem;
  min-height: calc(100vh - 90px); }
  .acces .gg-map {
    border: 1px solid #272727;
    width: 100%;
    max-width: 720px;
    min-height: 365px; }

.cartes-container, .menus-container {
  padding: 2rem;
  text-align: center;
  animation: display 0.3s ease-in-out alternate; }
  .cartes-container .row:nth-child(2n+1), .menus-container .row:nth-child(2n+1) {
    background: linear-gradient(to right, transparent, #cfcfb8 10%, #cfcfb8 90%, transparent); }

.food-comments {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase; }

.menus-container .row {
  justify-content: center; }

footer {
  width: 100%;
  background-color: #272727; }

.footerContent {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footerContent img {
    transition: transform 0.1s;
    transform: scale(0.8); }
    .footerContent img:hover {
      transform: scale(1); }

.maxWidth-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%; }

.pageSelected {
  position: relative; }
  .pageSelected:before {
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 50%;
    width: 10px;
    height: 10px;
    background-color: #d9d9c3;
    transform: translateY(-50%); }

/*# sourceMappingURL=style.css.map */
