.chinese-fontFam {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500; }

@keyframes display {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes nextPage {
  0% {
    transform: translate(-50%, -100%); }
  100% {
    transform: translate(-50%, 0); } }
html, body, header, nav, footer, section, div, span, h1, h2, h3, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, legend, label, input, button {
  margin: 0;
  box-sizing: border-box; }

html {
  min-width: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 18px; }

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

section {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif; }

h1, h2 {
  color: #d9d9c3; }

h3 {
  text-align: center; }

a {
  text-decoration: none; }

button {
  border: none; }
  button:hover {
    cursor: pointer; }

ul {
  padding-left: 0;
  list-style: none; }

p, li, a {
  color: #d9d9c3; }

header {
  width: 100%;
  background-color: #6d141a;
  background-image: url("../img/toit.png"); }

.header-title {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }
  .header-title img {
    max-width: 128px;
    width: 100%; }
  .header-title h1 {
    margin-left: 3rem;
    flex: 1;
    display: inline-block;
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 700; }
  .header-title .chinese-fontFam {
    white-space: nowrap; }
  .header-title .header-title_subtitle {
    display: block;
    font-weight: 500;
    font-size: 1.5rem; }

nav {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #272727; }

.mainMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }
  .mainMenu > li {
    padding: 0.5rem 1.5rem;
    display: inline-block; }
    .mainMenu > li a {
      color: #d9d9c3;
      letter-spacing: 0.2rem;
      text-transform: uppercase; }

.search-container {
  margin-left: auto;
  padding: 0; }
  .search-container form {
    display: flex;
    justify-content: center;
    align-items: center; }
  .search-container input {
    margin-right: 0.5rem;
    border: none;
    background-color: #d9d9c3; }
  .search-container button {
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    transition: transform 0.1s; }
    .search-container button:hover {
      transform: scale(1.2); }
  .search-container img {
    width: 100%;
    height: 100%; }

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #d9d9c3;
  background-image: url("../img/parchemin.jpg"); }
  .main h2 {
    text-align: center;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    background-color: #6d141a; }
  .main h3 {
    margin: 0 auto 2rem;
    position: relative;
    display: inline-block;
    color: #6d141a;
    letter-spacing: 0.2rem;
    text-transform: uppercase; }
    .main h3::after, .main h3::before {
      content: "";
      position: absolute;
      top: 50%;
      height: 2px;
      width: 64px;
      background-color: #6d141a; }
    .main h3::after {
      left: calc(100% + 10px); }
    .main h3::before {
      right: calc(100% + 10px); }
  .main span, .main p, .main li {
    font-size: 1rem;
    color: #272727; }

section > div {
  box-shadow: 0px -1px 3px 0px rgba(25, 25, 75, 0.15); }
  section > div:first-of-type {
    box-shadow: none; }

.row {
  margin: 0 auto;
  padding: 0.75rem 4rem;
  width: 100%;
  max-width: calc(720px + 8rem);
  display: flex;
  justify-content: space-between; }

.infos-page {
  background-image: url("../img/parchemin_dark.jpg"); }

.home-content {
  position: relative;
  height: calc(100vh - 226px - 42px); }
  .home-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9; }

.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  background-color: rgba(39, 39, 39, 0.3);
  transform: translate(-50%, -50%); }
  .home-text p {
    padding: 1.5rem 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #d9d9c3;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-shadow: 1px 0 1px black, -1px 0 1px black, 0 -1px 1px black, 0 1px 1px black, 1px 0 1px black, -1px 0 1px black, 0 -1px 1px black, 0 1px 1px black, 1px 0 1px black, -1px 0 1px black, 0 -1px 1px black, 0 1px 1px black; }

.home-nextPage {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -100%);
  animation: nextPage 1s ease-in infinite alternate; }
  .home-nextPage img {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: rgba(217, 217, 195, 0.9); }

.horaires-container, .address-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.horaires-container {
  padding: 4rem 2rem; }
  .horaires-container .row:nth-child(2n) {
    background: linear-gradient(to right, transparent, rgba(217, 217, 195, 0.9) 15%, rgba(217, 217, 195, 0.9) 85%, transparent); }

.address-container {
  padding: 4rem 2rem; }
  .address-container .gg-map {
    border: 1px solid #272727;
    width: 100%;
    max-width: 720px;
    min-height: 365px; }

.address {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.searchResult-page {
  height: 100%;
  background-image: url("../img/parchemin_dark.jpg"); }
  .searchResult-page h2 {
    margin-top: 3rem;
    font-size: 1rem;
    color: #272727;
    background-color: transparent; }
  .searchResult-page .row:nth-of-type(2n+1) {
    background: linear-gradient(to right, transparent, rgba(217, 217, 195, 0.9) 10%, rgba(217, 217, 195, 0.9) 85%, transparent); }

.cartes-container, .menus-container {
  padding: 3rem 2rem 4rem;
  text-align: center; }

.cartes-container .row:nth-of-type(2n) {
  background: linear-gradient(to right, transparent, rgba(207, 207, 187, 0.9) 10%, rgba(207, 207, 187, 0.9) 85%, transparent); }

.menus-container {
  background-image: url("../img/parchemin_dark.jpg"); }
  .menus-container .row:nth-of-type(2n+1) {
    background: linear-gradient(to right, transparent, rgba(217, 217, 195, 0.9) 10%, rgba(217, 217, 195, 0.9) 85%, transparent); }

.menus-container .row {
  justify-content: center; }

.titleImg-container {
  margin: 0 auto 2rem;
  padding: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
  width: 218px;
  height: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/parchemin_dark.jpg"); }
  .titleImg-container p {
    position: absolute;
    left: 50%;
    top: 25%;
    font-size: 3rem;
    font-weight: bold;
    color: #6d141a;
    white-space: nowrap;
    letter-spacing: 0.2rem;
    transform: translate(-50%, -50%);
    opacity: 0.75; }
  .titleImg-container img {
    margin-top: 4rem; }

.food-comments {
  margin-bottom: 0.9rem;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase; }

.food-name {
  margin: 0 1rem; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #272727; }

.footer-content {
  padding: 0.2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer-content span {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer-content span p {
      white-space: nowrap; }

.facebook {
  margin: 0 0.5rem;
  display: block;
  transition: transform 0.1s;
  transform: scale(0.8); }
  .facebook:hover {
    transform: scale(1); }

.backHome img {
  padding: 0.3rem;
  border-radius: 50%;
  display: block;
  background-color: rgba(217, 217, 195, 0.9);
  transition: transform 0.1s;
  transform: rotate(-180deg) scale(0.8); }
  .backHome img:hover {
    transform: rotate(-180deg) scale(1); }

.maxWidth-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%; }

.pageSelected {
  position: relative; }
  .pageSelected:before {
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 50%;
    width: 10px;
    height: 10px;
    background-color: #d9d9c3;
    transform: translateY(-50%); }

.displayNone {
  display: none; }

@media screen and (max-width: 1000px) {
  .home-text p {
    font-size: 1.5rem; } }
@media screen and (max-width: 890px) {
  .header-title img {
    width: 96px;
    height: 96px; }
  .header-title h1 {
    margin-left: 2rem;
    font-size: 2rem;
    line-height: 3rem; }

  .home-content {
    height: calc(100vh - 190px - 42px); }

  .home-text p {
    font-size: 1.25rem; } }
@media screen and (max-width: 730px) {
  .header-title h1 {
    font-size: 1.75rem; }
  .header-title .header-title_subtitle {
    font-size: 1.25rem; }

  .home-text p {
    padding: 1.5rem;
    font-size: 1.1rem; } }
@media screen and (max-width: 685px) {
  .mainMenu li {
    padding: 0.5rem; }

  .home-content {
    height: calc(100vh - 190px - 42px); }

  .home-text p {
    padding: 1rem; } }
@media screen and (max-width: 640px) {
  .header-title {
    margin: 0.5rem; }
    .header-title img {
      display: none; }
    .header-title h1 {
      margin-left: 0;
      text-align: center;
      font-size: 1.5rem; }

  nav {
    padding: 0 0.5rem; }

  .home-content {
    height: calc(100vh - 171px - 42px); }

  .home-text p {
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.8rem; }

  .horaires-container {
    padding: 4rem 1rem; }

  .footer-content {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem; } }
@media screen and (max-width: 512px) {
  .mainMenu {
    justify-content: center; }
    .mainMenu .search-container {
      padding-top: 0;
      width: 100%; }

  .main h3 {
    margin: 0 auto 0.5rem; }
    .main h3:before, .main h3:after {
      display: none; }

  .home-content {
    height: calc(100vh - 204px - 42px); }

  .titleImg-container {
    margin: 0 auto 1.5rem; }

  .horaires-container, .cartes-container, .menus-container {
    padding: 2rem 0; }

  .horaires-container .row:nth-child(2n) {
    background: rgba(217, 217, 195, 0.9); }

  .address-container {
    padding: 2rem 0.5rem; }

  .cartes-container .row:nth-of-type(2n) {
    background: rgba(207, 207, 187, 0.9); }

  .menus-container .row:nth-of-type(2n+1) {
    background: rgba(217, 217, 195, 0.9); }

  .row {
    padding: 0.75rem 2rem; } }
@media screen and (max-width: 418px) {
  .header-title h1 {
    line-height: 2rem; }

  .row {
    padding: 0.75rem 1rem; } }

/*# sourceMappingURL=style.css.map */
